@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;900&family=Roboto+Slab:wght@300;400;500&display=swap');
body {
  margin: 0;
  font-family: 'Roboto Slab', serif, -apple-system, 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.font-lato {
  font-family: 'Lato', sans-serif;
}

.c-blue {
  color: #2D93AD;
}

.bg-blue {
  background-color: #2D93AD;
}

.bg-deepblue {
  background-color: #0B3954;
}

.c-purple {
  color: #655560;
}

.fw-400 {
  font-weight: 400;
}

.fw-600 {
  font-weight: 600;
}

.fs-12 {
  font-size: 12px;
}

.fs-14 {
  font-size: 14px;
}

.border-wide {
  border-width: 10px !important;
}

.bg-purple {
  background-color: #655560;
}

.btn-contact {
  border-radius: 0 15px;
}

.btn-outline-purple {
  color: #655560 !important;
  border-color: #655560 !important;
  border-width: 4px !important;
  border-top-left-radius: 10px !important;
  border-bottom-left-radius: 0 !important;
  border-bottom-right-radius: 10px !important;
  border-top-right-radius: 0 !important;
}

.btn-pink {
  background-color: #FA8E86 !important;
  border-width: 0!important;
  border-top-left-radius: 10px !important;
  border-bottom-left-radius: 0 !important;
  border-bottom-right-radius: 10px !important;
  border-top-right-radius: 0 !important;
}

.btn-purple {
  background-color: #655560 !important;
  font-weight: 400 !important;
  color: white !important;
  border-width: 0!important;
  border-top-left-radius: 10px !important;
  border-bottom-left-radius: 0 !important;
  border-bottom-right-radius: 10px !important;
  border-top-right-radius: 0 !important;
}

hr {
  border-color: #FA8E86;
}

.gradient-wrapper {
  background: rgb(255, 247, 247);
  background: linear-gradient(16deg, rgba(255, 247, 247, 1) 36%, rgba(255, 255, 255, 1) 100%);
}